ion-label {
  font-weight: 500;
  font-size: 18px;
}
mat-form-field {
  margin-top: 25px;
}
mat-radio-button {
  margin: 10px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #428cff !important;
}
button {
  margin-top: 25px;
  margin-right: 25px;
}
